@import '../fonts/icomoon/style.css';

@theme {
    --text-5xl: 2.625rem; /* h1 */
    --text-4xl: 2rem; /* h2 */
    --text-3xl: 1.5rem; /* h3 */
    --text-2xl: 1.275rem; /* h4 */
    --text-xl: 1.125rem; /* baixado para manter a coherencia de tamaño descendente, con este tamaño queda igual ca o text-lg */
    --text-lg: 1rem;
    --text-sm: 0.95rem;
    --text-xs: 0.9rem;
    --text-base--line-height: 1.425rem;
    --text-2xl--line-height: calc(2.15 / 1.875);
    --color-grey: var(--color-stone-500);
    --color-secondary: var(--color-stone-200);
}

@layer base {
    body {
        font-family: var(--font-serif);
    }

    p {
        margin-bottom: var(--spacing);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-titles);
        letter-spacing: var(--tracking-tight);
    }

    a {
        color: var(--color-primary);
    }

    a:hover {
        text-decoration: none;
        opacity: 0.7;
    }

    input[type="checkbox"],
    input[type="radio"] {
        color: var(--color-primary);
    }
}

@layer utilities {
    .prose {
        --tw-prose-body: var(--color-black);
        --tw-prose-headings: var(--color-black);
        --tw-prose-lead: var(--color-black);

        font-size: var(--text-base);
        line-height: var(--text-base--line-height);
        max-width: none;

        & :where([class~="lead"]):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
            font-size: var(--text-3xl);
            line-height: var(--text-xl--line-height);
        }

        & :where(small):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
            font-size: var(--text-sm);
            line-height: var(--text-sm--line-height);
        }

        & :where(strong):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
            font-weight: var(--font-weight-bold);
        }
    }
}

@layer components {
    .at-lead {
        font-size: var(--text-3xl);
    }

    .at-tag {
        font-family: var(--font-serif);
        background-color: var(--color-primary);
        color: var(--color-white);

        &.is-primary {
            color: var(--color-white);
        }
    }

    .at-button {
        font-family: var(--font-sans);

        &.is-secondary {
            border-color: var(--color-primary);
        }
    }

    .ml-breadcrumb {
        color: var(--color-grey) !important;
    }

    .org-site-header .site-header-main-menu {
        font-family: var(--font-sans);
        font-size: var(--text-2xl);

        @variant lg {
            gap: calc(var(--spacing) * 6);
        }
    }

    .tier-header {
        border-bottom-width: 0 !important;
        margin-bottom: calc(var(--spacing) * 3) !important;
    }

    input:focus, select:focus {
        border-color: var(--color-primary);
        box-shadow: var(--color-primary);
    }
}