@import '../fonts/icomoon/style.css';

@theme {
    --text-base--line-height: 1.425rem;
    --text-5xl: 2.625rem; /* h1 */
    --text-4xl: 2rem; /* h2 */
    --text-3xl: 1.625rem; /* h3 */
    --text-2xl: 1.275rem; /* h4 */
    --text-2xl--line-height: calc(2.15 / 1.875);
    --text-xl: 1.125rem; /* baixado para manter a coherencia de tamaño descendente, con este tamaño queda igual ca o text-lg */
    --tw-prose-body: var(--color-black);
}

@layer base {
    body {
        font-family: var(--font-serif);
    }

    p {
        margin-bottom: var(--spacing);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-titles);
        letter-spacing: var(--tracking-tight);
    }

    a:hover {
        text-decoration: none;
        opacity: 0.8;
    }

    input[type="checkbox"],
    input[type="radio"] {
        color: var(--color-primary);
    }
}

@layer components {
    .at-lead {
        font-size: var(--text-3xl);
    }

    .at-tag {
        font-family: var(--font-serif);
        background-color: var(--color-primary);
        color: var(--color-white);

        &.is-primary {
            color: var(--color-white);
        }
    }

    .at-button {
        font-family: var(--font-sans);

        &.is-secondary {
            border-color: var(--color-primary);
        }
    }

    .tier-header {
        border-bottom-width: 0 !important;
        margin-bottom: calc(var(--spacing) * 3) !important;
    }

    input:focus, select:focus {
        border-color: var(--color-primary);
        box-shadow: var(--color-primary);
    }
}